:root {
  --size-xxxl: 60px;
  --size-xxl: 40px;
  --size-xl: 30px;
  --size-l: 30px;
  --size-m: 16px;
  --size-s: 12px;
  --size-xs: 10px;
  --space-l: 40px;
  --space-m: 27px;
  --space-s: 16px;
  --space-xs: 10px;
}