:root {
  --size-xxxl: 60px;
  --size-xxl: 40px;
  --size-xl: 30px;
  --size-l: 20px;
  --size-m: 16px;
  --size-s: 12px;
  --size-xs: 10px;
  --space-xs: 10px;
  --space-s: 16px;
  --space-m: 27px;
  --space-l: 40px;
  --space-xl: 60px;
  --space-xxl: 80px;

  //colours
  --primary-accent: hotpink;
  --secondary-accent: #00bdff;
}