.article-meta {
  /* margin: var(--space-l) auto; */
  // background-color: hsl(161deg 100% 51% / 16%);
  width: 100%;
  padding: var(--space-l);
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  h1 {}
}

.article-post {
  grid-column: 2/12;
  margin: var(--space-xxl) 0;
}

.article-content {
  border-radius: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  img {
    max-width: calc(100% + var(--space-l) + var(--space-l));
    position: relative;
    left: calc(var(--space-l) *-1);
  }

  p:has(img) {
    max-width: 100%;
  }
}

// @container contentContainer (max-width: 1000px) {
//     .article {
//         grid-column: 2/12;
//     }
// }

// @container contentContainer (max-width: 700px) {
//     .article {
//         grid-column: 1/13;
//     }
// }

.page-heading {
  padding: var(--space-xl) 0;
}

.article-content {
  background-color: rgb(0 0 0 / 30%);
  padding: var(--space-l);
}

.card-content {
  background-color: rgb(0 0 0 / 30%);
  padding: var(--space-s);
  border-radius: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.blog-index-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.article-list {
  padding-left: 0;



  li {
    grid-column: span 4;
    list-style: none;

    a {
      text-decoration: none;
    }

    .banner {
      background-color: black;
      height: 150px;
      border-radius: 15px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      padding: var(--space-m);

      h2 {
        margin-bottom: 0;
      }
    }
  }
}

iframe {
  margin-bottom: var(--space-m);

  a {
    display: none;
  }
}

pre:has(code) {

  border: 1px solid #ffffff17;
  border-radius: 5px;
  padding: var(--space-s);
  margin-bottom: var(--space-l);
  background-color: #061426;

}

@media only screen and (max-width: 1100px) {
  .article {
    grid-column: 2/12;
  }

  .article-list {
    li {
      grid-column: span 6;
    }
  }
}

@media only screen and (max-width: 800px) {
  .article {
    grid-column: 1/13;
  }

  .article-list {
    li {
      grid-column: span 13;
    }
  }
}