* {
  padding: 0;
  margin: 0;
}

html,
body,
#__nuxt {
  //sets all wrapper parents to 100% to allow the footer to stick to the bottom using CSS grid
  width: 100%;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}


body {
  background-color: #0e172a;
}



.logo {
  span {
    color: white;

  }
}

.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--space-m);
}

main {
  position: relative;
}

.content-container {
  max-width: 1400px;
  margin: auto;
  padding: 0 var(--space-m);
  container-type: inline-size;
  container-name: contentContainer;
}

.highlight-one {
  color: var(--primary-accent);
}

.nightshine {
  background: linear-gradient(45deg, rgb(54 12 32) 0%, #791949 50%, #0077ff 100%);
  opacity: 0.5;
  filter: blur(30vh);
  height: 60vh;
  bottom: -40vh;
  width: 100%;
  position: fixed;
  z-index: -2;
}

@media only screen and (max-width: 800px) {
  .content-container {

    padding: 0 var(--space-s);

  }
}